@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;

  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: #f6f1f1;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

@font-face {
  font-family: "Merriweather-Bold.ttf";
  src: url("@/assets/fonts/Merriweather-Bold.ttf") format("truetype");
  font-family: "Montserrat-Regular.ttf";
  src: url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
